<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
 <meta property="og:image" content="http://dannguyen.github.io/github-for-portfolios/images/main-logo.jpg" />
 <meta property="og:title" content="{{ page.title }}" />
 <meta property="og:site_name" content="Github Pages for Web Portfolios, a tutorial by Dan Nguyen" />
 <meta property="og:type" content="blog" />




<!-- Custom CSS -->

{% stylesheet main %}
