@import "bootstrap.css.scss";

body{
  font-size: 15px;
}

div.img-wrap{
  img{ width: 100%;}
}

.content-silo{
  @extend .col-md-8 !optional;
  @extend .col-md-offset-2 !optional;
}


section.sec{
  margin-bottom: 2.6em;
}

footer.footer{
  border-top: thin solid #aaa;
  margin-top: 6.0em;
  padding-bottom: 4.0em;
  padding-top: 1.5em;

  background: black;

  color: white;


  a, a:link{
    color: #aaf;
  }
}

header.header{
  border-bottom: thin solid #aaa;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  background: black;

  .site-title{
    font-size: 1.0;
    font-family: Raleway, 'Helvetica Neue';

    a:link, a{
      color: #ddd;
    }
  }
}


.layout{
  &.home{
    div.title{
      h1{
        font-size: 3.6em;
        margin-bottom: 0.1em;
        text-align: center;

      }
      h2{
        color: #a33;
        margin-top: 0;
        text-align: center;

      }
    }
  }
}

article.lesson{

  div.status{
    padding: 0.5em;
    border: thin solid #C5B100;
    background: #FAFAE2;
    text-align: center;
  }

  header{
    // position: relative;
    // height: 1000px;
    background: black;

    div.header-background{
      img{
        width: 100%;
        max-width: 1170px;
        margin: auto auto;
        background: black;
      }

      text-align: center;
      width: 100%;
      // position: absolute;
      // top: 0;
      // left: 0;
    }

    div.header-content{
      padding-top: 2.0em;
      padding-bottom: 2.0em;

      text-align: center;

      div.title{
          text-align: center;
          text-shadow: 1px 1px #444;

        .lesson-number{
          font-size: 2.2em;
          font-weight: bold;
          color: #a33;
        }
        h1{
          color: white;
          font-size: 3.6em;
          margin-top: 1px
        }
      }

      div.deck{
        color: white;
        background: black;
        padding: 1.0em 0em;
      }
    }
  }



    h2{
      margin-top: 2.0em;
    }


  section{
    margin-bottom: 6.0em;

    &:not(.overview){
      border-top: thin solid #ccc;
    }

    padding-top: 1.5em;

    img{
      width: 100%;
      border: thin solid #aaa;
    }


    &.overview{
      margin-bottom: 2.0em;
      p{
        font-size: 1.2em;
      }
    }
  }



  section:nth-child(even){

  }

}


.lessons-list{
  li.lesson{
    margin-bottom: 1.1em;
  }

  div.thumb{
    border: thin solid #777;
    img{ width: 100%; }
    margin-bottom: 0.3em;
  }

  div.title{
    font-weight: bold;
    margin-bottom: 0.2em;
    text-align: left;
  }

  div.deck{
    font-size: 0.9em;
  }
}
