<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">


        <!-- Custom CSS -->
        {% stylesheet bootstrap.min.css %}
        {% stylesheet main %}

    </head>
    <body>

<header class="header">

    <div class="container">
            <div class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></div>
    </div>
</header>


<div class="container">


          {{ content }}

</div>


<footer class="footer">
<div class="container">
    <div class="contact">
      <p>
        By <a href="http://danwin.com">Dan Nguyen</a> | <a href="https://twitter.com/dancow">@dancow</a><br />

      </p>
    </div>


    <div>
      <p>Fork <a href="//github.com/{{site.repourl}}">this tutorial on Github</a></p>

    </div>
</div>
</footer>




    </body>
</html>
