<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">


        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">

    </head>
    <body>

<header class="header">

    <div class="container">
            <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <a class="extra" href="{{ site.baseurl }}/">home</a>
    </div>
</header>


<div class="container">


          {{ content }}

</div>


          <footer class="footer">
<div class="container">
            <div class="contact">
              <p>
                Dan Nguyen<br />
                Portfolio Maker<br />
                danwin.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/dannguyen">github.com/dannguyen</a><br />
                <a href="https://twitter.com/dancow">twitter.com/dancow</a><br />
              </p>
            </div>

</div>
          </footer>




    </body>
</html>
